@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@latest/css/pico.min.css"/>

<main class="container">
    <h1>Collage Summary Page</h1>

    <div class="toolbar">
        <a asp-page="./Create" class="secondary" role="button">Create New</a>
    </div>
    <p>@Model.Collages.Count() Collages found</p>

    @if (Model.Collages != null)
    {
        foreach (var collage in Model.Collages)
        {
            <article>
                <h3><a asp-page="./Edit" asp-route-id="@collage.Id">@collage.Title</a></h3>
                <p>@collage.Note</p>
                <code>@collage.Data</code>
            </article>
        }


    }
</main>

<style>
    code {
        height: 5rem;
        width: 100%;
        overflow: auto;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card > textarea {
        height: 100px;
        resize: none;
    }

    .toolbar {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        padding: 1rem;
    }
</style>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>